// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//fonts
$font-stack: "Kumbh Sans", sans-serif, Arial, Helvetica, sans-serif;

//colors
$color-text-primary: #1d1e35;
$color-text-secondary: #4a4b5e;
$color-text-tertiary: #787887;
$color-text-hover: #f47c57;

$color-background-primary: #6565e7;
$color-background-secondary: #af67e9;

$color-divider:#e7e7e9;

//media queries
$mobile: 600px;
$desktop: 1440px;