// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0deg, $color-background-primary 0%, $color-background-primary 40%, $color-background-secondary 100%);
}

main {
    background-color: #FFF;
    border-radius: 1rem;
    width: 92rem;
    height: 51rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    width: 35rem;
}

img {
    position: relative;
    right: 10rem;
    z-index: 1;
}

img:last-child {
    position: absolute;
    z-index: 2;
    top: 32rem;
    left: 22rem;
}